---
interface Props {
  punchline: string;
}

const { punchline } = Astro.props;
---

<div
  class="max-w-4xl mx-auto flex flex-col items-center text-center p-10 md:p-16 border-2 border-white/20 rounded-3xl bg-fadeaway-graphite shadow-2xl relative animate-fade-in"
>
  {/* Background pattern mask for the inside of the box */}
  <div class="absolute inset-0 bg-[radial-gradient(#ffffff0a_1px,transparent_1px)] [background-size:16px_16px] opacity-20 pointer-events-none rounded-3xl"></div>

  {/* Subtle ambient border highlight at the top */}
  <div class="absolute top-0 left-1/2 -translate-x-1/2 w-1/2 h-[2px] bg-gradient-to-r from-transparent via-fadeaway-orange/60 to-transparent"></div>
  <div class="absolute top-0 left-1/2 -translate-x-1/2 w-1/4 h-[10px] bg-fadeaway-orange/20 blur-md rounded-full"></div>

  <h2
    class="font-outfit text-center w-full max-w-2xl mx-auto leading-[1.6] text-[24px] md:text-[30px] font-medium text-neutral-50 relative z-10"
    style="text-align: center !important;"
  >
    <Fragment set:html={punchline} />
  </h2>
</div>
